* {
  border: 0px solid rgb(0, 0, 0);
}
.card-post {
  width: 150px;
}
header div ul li img {
  height: 50px;
}
footer ul li img {
  height: 50px;
}
footer ul {
  list-style: none;
}
figure img {
  height: 80px;
}
figure {
  width: 80px;
}
.icon figure:hover {
  box-shadow: 0px 5px 15px rgb(0, 0, 0.25);
}

.testimonials ul {
  list-style-type: none;
  width: 80%;
  margin-left: 10%;
  border: 5px solid rgb(0, 168, 65);
  border-radius: 10px;
}

.testimonials ul li:before {
  content: "\e052" !important;
  color: #2cba6c;
  font-family: "ETMODULES";
  margin-right: 10px;
  margin-left: -14px;
  font-size: 1.2em;
}
.info img {
  width: 80px;
}
.project div button img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.project div:hover > * {
  filter: grayscale(50%) blur(5px);
}
.project div > * {
  pointer-events: auto;
  border: 1px solid black;
  border-radius: 10px;
}
.project div:hover > *:hover {
  filter: blur(5px);
  filter: grayscale(0%) opacity(100%);
  transform: scale(1.2);
  animation: pulse 0.3s ease;
  z-index: 1;
  box-shadow: 0px 5px 15px rgb(0, 0, 0.25);
}
@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
